<h1>James Tunnicliffe MEng (Hons)</h1>
<div class="container-fluid">

  <div class="row">
    <ul class="list-unstyled col-xs-6">
      <li >84 Maple Avenue</li>
      <li>Kidlington</li>
      <li>OX5 1HW</li>
      <li>UK</li>
    </ul>
    <ul class="list-unstyled col-xs-6">
      <li>+447779123779</li>
      <li><a href="mailto:james@nanosheep.org">james@nanosheep.org</a></li>
    </ul>
  </div>

  <div class="col-xs-12 no-padding">
    <hr class="hrtop" />
    <p class="tight"><em>
      A capable software engineer with over thirteen years of experience in
      cross-platform, object-orientated programming. Recently specialising in
      automated service deployments and updates, web service design and responsive
      UIs implemented in HTML, CSS and JavaScript.
    </em></p>
    <hr class="hrbottom" />
  </div>

  <div class="no-padding">
    <div class="print-as-one" ng-repeat="skill in skills track by $index">
      <h2 ng-if="$first">Key Skills</h2>
      <h3>{{ skill.names[0] }}</h3>
      <ul>
      <li ng-repeat="example in skill.examples">
        {{ example }}
      </li>
      </ul>
    </div>
  </div>

  <div ng-if="writing && missing_skills.length">
    <h2>Missing Skills</h2>
    <ul class="list-group">
      <li ng-repeat="skill in missing_skills"
          class="list-group-item list-group-item-danger">
        {{ skill }}
      </li>
    </ul>
  </div>

  <div class="no-padding">
    <div class="print-as-one" ng-repeat="entry in career track by $index">
      <h2 ng-if="$first">Career to Date</h2>
      <h4>
        <div class="no-padding col-md-10 col-sm-9 col-xs-8">{{ entry.employer }}</div>
        <div class="no-padding align-right col-md-2  col-sm-3 col-xs-4">{{ entry.dates }}</div>
      </h4>
      {{ entry.description }}
    </div>
  </div>

  <div class="print-as-one row normal-margin" ng-repeat="entry in education track by $index">
    <h2 ng-if="$first">Education & Qualifications</h2>
    <h4 class="row-el col-md-4 col-md-push-0 col-sm-9 col-xs-8 no-padding-left">
      {{ entry.institution }}
    </h4>
    <h4 class="row-el col-md-2 col-md-push-6 col-sm-3 col-xs-4 align-right no-padding">
      {{ entry.dates }}
    </h4>
    <div class="col-md-6 col-md-pull-2 col-sm-12 col-xs-12 no-padding">
      <p class="row-el" ng-repeat="qualification in entry.qualifications">
        {{ qualification }}
      </p>
    </div>
  </div>
</div>
